

body, nav {
    background-color: white;
    margin: 0;
    padding: 0;
}

nav {
background-color: rgb(170, 170, 170);
padding: 5px;
text-align: center;
width: 100%;
}

.s4logo
{
    height: 20px;
    width: 20px;
}

.sociallogo {
    height: 20px;
    width: 60px;
}

nav li {
    width: 20%;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: #4b4b4b;
    font-size: 20px;
}

nav ul {
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}



.gridas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 350px;
    max-width: 1800px;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
  }


.produktas1 h2 {
    margin-top: 10px;
}

.produktas1 h3 {
    margin-top: -10px;
    color: tomato;
}

.produktas1 img {
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 80px;
}


.produktas2 h2 {
    margin-top: 10px;
}

.produktas2 h3 {
    margin-top: -10px;
    color: tomato;
}

.produktas2 img {
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 80px;
}


.produktas3 h2 {
    margin-top: 10px;
}

.produktas3 h3 {
    margin-top: -10px;
    color: tomato;
}

.produktas3 img {
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 80px; 
}


.produktas4 h2 {
    margin-top: 10px;
}

.produktas4 h3 {
    margin-top: -10px;
    color: tomato;
}

.produktas4 img {
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 80px;
}


.produktas5 h2 {
    margin-top: 10px;
}

.produktas5 h3 {
    margin-top: -10px;
    color: tomato;
}

.produktas5 img {
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 80px;
}


.produktas6 h2 {
    margin-top: 10px;
}

.produktas6 h3 {
    margin-top: -10px;
    color: tomato;
}

.produktas6 img {
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 80px;
}

button {
    background-color: rgb(185, 185, 185);
    border-style: groove;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif
}