* {
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

.float-container {
    padding: 3px;
}

.float-child {
    width: 50%;
    float: left;
}

.s4logo
{
    height: 20px;
    width: 20px;  
    margin-left: 30px;
}

.s4logo img
{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.sociallogo {
    height: 20px;
    width: 60px;
    float: right;
    margin-right: 30px;
}

.sociallogo img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

.pirmoji {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    justify-content: space-between;
    
}

.produktas1 {
    float:left;
    width:180px;
    height:160px;
}

.produktas1 img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block; 
}

.produktas2 {
    float:left;
    width:180px;
    height:160px;
}

.produktas2 img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block; 
}

.produktas3 {
    float:right;
    width:180px;
    height:160px;
}

.produktas3 img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block; 
}

.antroji {
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: -300px;
    
}

.produktas4 {
    float:left;
    width:180px;
    height:160px;
}

.produktas4 img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block; 
}

.produktas5 {
    float:left;
    width:180px;
    height:160px;
}

.produktas5 img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block; 
}

.produktas6 {
    float:right;
    width:180px;
    height:160px;
}

.produktas6 img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block; 
}




